.DS_Store
node_modules/
target/
dist/
.turbo/
.idea/
.vscode/
package-lock.json
yarn.lock
apps/*/.next/
apps/*/out/
apps/*/.expo/
apps/*/expo-build/
apps/*/build/
services/*/node_modules/
simulator/node_modules/
coverage/
logs/